In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import locale

In [3]:
# Read the file
df = pd.read_csv('sao-paulo-properties-april-2019.csv')
df.head(20)

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436
5,1170,0,50,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.548751,-46.477195
6,1000,180,52,1,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.549840,-46.484137
7,900,150,40,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.539740,-46.492670
8,1000,0,65,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.548751,-46.477195
9,1000,0,100,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.548751,-46.477195
10,760,160,38,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.551850,-46.491169
11,800,150,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.545761,-46.479509
12,900,130,56,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.552073,-46.483411
13,1000,200,56,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.541366,-46.483726
14,1800,418,54,2,2,1,1,1,0,1,0,Belém/São Paulo,rent,apartment,-23.543955,-46.586619
15,1600,416,45,2,2,1,1,0,0,0,0,Belém/São Paulo,rent,apartment,-23.544698,-46.602114
16,1500,337,55,2,2,1,1,1,0,0,0,Belém/São Paulo,rent,apartment,-23.546104,-46.594579
17,1600,306,43,2,2,1,1,1,0,0,0,Belém/São Paulo,rent,apartment,-23.534606,-46.595084
18,1600,150,80,2,2,1,1,1,0,0,0,Belém/São Paulo,rent,apartment,-23.539620,-46.596337
19,1600,420,46,2,2,1,1,0,0,0,0,Belém/São Paulo,rent,apartment,-23.544698,-46.602114

In [4]:
# Work with sales first
sales = df[df['Negotiation Type'] == 'sale'].reset_index()

# Will drop the column 'index'
sales = sales.drop('index', axis=1)

In [5]:
sales['City'] = sales['District'].apply(lambda x: x.split('/')[1].strip())
sales['District'] = sales['District'].apply(lambda x: x.split('/')[0])
sales

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude,City
0,732600,1000,74,1,2,1,2,1,0,1,0,Vila Madalena,sale,apartment,-23.552129,-46.692244,São Paulo
1,1990000,2400,164,4,5,2,3,1,1,1,0,Vila Madalena,sale,apartment,-23.551613,-46.699106,São Paulo
2,720000,700,70,2,2,1,1,1,0,1,1,Vila Madalena,sale,apartment,-23.547687,-46.692594,São Paulo
3,1680000,1580,155,3,5,3,2,1,0,1,0,Vila Madalena,sale,apartment,-23.552590,-46.691104,São Paulo
4,1200000,900,56,2,2,1,2,0,1,1,0,Vila Madalena,sale,apartment,-23.553087,-46.697890,São Paulo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6407,265000,420,51,2,1,0,1,0,0,0,0,Jabaquara,sale,apartment,-23.653004,-46.635463,São Paulo
6408,545000,630,74,3,2,1,2,0,0,1,0,Jabaquara,sale,apartment,-23.648930,-46.641982,São Paulo
6409,515000,1100,114,3,3,1,1,0,0,1,0,Jabaquara,sale,apartment,-23.649693,-46.649783,São Paulo
6410,345000,48,39,1,2,1,1,0,1,1,0,Jabaquara,sale,apartment,-23.652060,-46.637046,São Paulo
6411,161987,0,44,2,1,0,1,0,0,0,0,Jardim Ângela,sale,apartment,-23.613391,-46.523109,São Paulo

In [33]:

result = sales.groupby(['District', 'New', 'Size']).agg(Count=('New', 'count'), Mean_Price=('Price', 'mean'), Mean_Size=('Size', 'mean')).reset_index()
result = result.pivot(index='District', columns='New', values=['Count', 'Mean_Price', 'Mean_Size']).reset_index()
result

#result.columns = ['District', 'Older Apartments', 'New Apartments', 'Average Price Old', 'Average Price New']
#result['Older Apartments'] = result['Older Apartments'].astype(int)
#result['New Apartments'] = result['New Apartments'].fillna(0).astype(int)

               District Count                                           ...  \
New                         0                                           ...
Size                       30   34   49    56   60   63   73   76   77  ...
0     Alto de Pinheiros   1.0  1.0  2.0   1.0  1.0  2.0  3.0  1.0  1.0  ...
1            Anhanguera   NaN  NaN  NaN   NaN  1.0  1.0  NaN  1.0  NaN  ...
2            Aricanduva   NaN  NaN  3.0   3.0  1.0  NaN  NaN  NaN  1.0  ...
3           Artur Alvim   NaN  NaN  3.0  19.0  1.0  NaN  NaN  NaN  NaN  ...
4           Barra Funda   NaN  9.0  NaN   NaN  NaN  2.0  NaN  2.0  NaN  ...
..                  ...   ...  ...  ...   ...  ...  ...  ...  ...  ...  ...
91         Vila Matilde   NaN  NaN  1.0   NaN  2.0  1.0  2.0  NaN  NaN  ...
92         Vila Olimpia   NaN  NaN  NaN   NaN  1.0  NaN  NaN  1.0  NaN  ...
93        Vila Prudente   1.0  2.0  4.0   3.0  4.0  1.0  NaN  1.0  1.0  ...
94           Vila Sônia   NaN  NaN  NaN   NaN  NaN  NaN  NaN  1.0  1.0  ...
95            Água Rasa   NaN  NaN  NaN   1.0  2.0  6.0  1.0  2.0  NaN  ...

     Mean_Size
New          0   1               0            1             0
Size       141 128 218  62  63 267    278    51    152    188
0          NaN NaN NaN NaN NaN NaN    NaN   NaN    NaN    NaN
1          NaN NaN NaN NaN NaN NaN    NaN   NaN    NaN    NaN
2          NaN NaN NaN NaN NaN NaN    NaN   NaN    NaN    NaN
3          NaN NaN NaN NaN NaN NaN    NaN   NaN    NaN    NaN
4          NaN NaN NaN NaN NaN NaN    NaN   NaN    NaN    NaN
..         ...  ..  ..  ..  ..  ..    ...   ...    ...    ...
91         NaN NaN NaN NaN NaN NaN    NaN   NaN    NaN    NaN
92         NaN NaN NaN NaN NaN NaN  278.0   NaN    NaN    NaN
93         NaN NaN NaN NaN NaN NaN    NaN  51.0  152.0    NaN
94         NaN NaN NaN NaN NaN NaN    NaN   NaN    NaN  188.0
95         NaN NaN NaN NaN NaN NaN    NaN   NaN    NaN    NaN

[96 rows x 997 columns]

In [19]:
# Average Price per District
district_avg_price = sales.groupby('District')['Price'].mean()

# Set the locale to Brazilian Portuguese
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

# Format the price
def format_price(price):
    return locale.currency(price, grouping=True, symbol='R$')

# district_avg_price = district_avg_price.apply(lambda x: '{:.2f}'.format(x))
# district_avg_price = district_avg_price.apply(lambda x: format_price(float(x)))

district_avg_price

District
Alto de Pinheiros    2.455076e+06
Anhanguera           1.040806e+06
Aricanduva           2.953348e+05
Artur Alvim          1.896892e+05
Barra Funda          5.832771e+05
                         ...
Vila Matilde         3.428811e+05
Vila Olimpia         1.616112e+06
Vila Prudente        3.971625e+05
Vila Sônia           5.198447e+05
Água Rasa            6.349459e+05
Name: Price, Length: 96, dtype: float64

In [ ]:
# Top 10 most expensive districts in Sao Paulo
district_avg_price.nlargest(10)

In [ ]:
# And the bottom
district_avg_price.nsmallest(10)