In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import locale

In [3]:
# Read the file
df = pd.read_csv('sao-paulo-properties-april-2019.csv')
df.head(20)

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436
5,1170,0,50,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.548751,-46.477195
6,1000,180,52,1,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.549840,-46.484137
7,900,150,40,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.539740,-46.492670
8,1000,0,65,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.548751,-46.477195
9,1000,0,100,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.548751,-46.477195
10,760,160,38,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.551850,-46.491169
11,800,150,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.545761,-46.479509
12,900,130,56,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.552073,-46.483411
13,1000,200,56,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.541366,-46.483726
14,1800,418,54,2,2,1,1,1,0,1,0,Belém/São Paulo,rent,apartment,-23.543955,-46.586619
15,1600,416,45,2,2,1,1,0,0,0,0,Belém/São Paulo,rent,apartment,-23.544698,-46.602114
16,1500,337,55,2,2,1,1,1,0,0,0,Belém/São Paulo,rent,apartment,-23.546104,-46.594579
17,1600,306,43,2,2,1,1,1,0,0,0,Belém/São Paulo,rent,apartment,-23.534606,-46.595084
18,1600,150,80,2,2,1,1,1,0,0,0,Belém/São Paulo,rent,apartment,-23.539620,-46.596337
19,1600,420,46,2,2,1,1,0,0,0,0,Belém/São Paulo,rent,apartment,-23.544698,-46.602114

In [4]:
# Work with apartments that are for sale first
sales = df[df['Negotiation Type'] == 'sale'].reset_index()

In [5]:
# Split the column 'District' into two - resulting in
# a column for the District and another one for the
# city name
sales['City'] = sales['District'].apply(lambda x: x.split('/')[1].strip())
sales['District'] = sales['District'].apply(lambda x: x.split('/')[0])
sales

,index,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude,City
0,4901,732600,1000,74,1,2,1,2,1,0,1,0,Vila Madalena,sale,apartment,-23.552129,-46.692244,São Paulo
1,4902,1990000,2400,164,4,5,2,3,1,1,1,0,Vila Madalena,sale,apartment,-23.551613,-46.699106,São Paulo
2,4903,720000,700,70,2,2,1,1,1,0,1,1,Vila Madalena,sale,apartment,-23.547687,-46.692594,São Paulo
3,4904,1680000,1580,155,3,5,3,2,1,0,1,0,Vila Madalena,sale,apartment,-23.552590,-46.691104,São Paulo
4,4905,1200000,900,56,2,2,1,2,0,1,1,0,Vila Madalena,sale,apartment,-23.553087,-46.697890,São Paulo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6407,13635,265000,420,51,2,1,0,1,0,0,0,0,Jabaquara,sale,apartment,-23.653004,-46.635463,São Paulo
6408,13636,545000,630,74,3,2,1,2,0,0,1,0,Jabaquara,sale,apartment,-23.648930,-46.641982,São Paulo
6409,13637,515000,1100,114,3,3,1,1,0,0,1,0,Jabaquara,sale,apartment,-23.649693,-46.649783,São Paulo
6410,13638,345000,48,39,1,2,1,1,0,1,1,0,Jabaquara,sale,apartment,-23.652060,-46.637046,São Paulo
6411,13639,161987,0,44,2,1,0,1,0,0,0,0,Jardim Ângela,sale,apartment,-23.613391,-46.523109,São Paulo

In [24]:
# Group the columns to show the quantity of apartments
# by district and the average price of new ones and
# old ones.
sales_agg = sales.groupby(['District', 'New']).agg(Count=('New', 'count'), Mean_Price=('Price', 'mean')).reset_index()

sales_agg = sales_agg.pivot(index='District', columns='New', values=['Count', 'Mean_Price']).reset_index()

sales_agg.columns = ['District', 'Not New', 'New', 'Average Price Old', 'Average Price New']
sales_agg['Not New'] = sales_agg['Not New'].astype(int)
sales_agg['New'] = sales_agg['New'].fillna(0).astype(int)
sales_agg

             District  Not New  New  Average Price Old  Average Price New
0   Alto de Pinheiros       96    1       2.459189e+06       2.060200e+06
1          Anhanguera       36    0       1.040806e+06                NaN
2          Aricanduva       74    6       2.991457e+05       2.483333e+05
3         Artur Alvim       78    6       1.911577e+05       1.706000e+05
4         Barra Funda      115    4       5.868738e+05       4.798735e+05
..                ...      ...  ...                ...                ...
91       Vila Matilde       50    3       3.500940e+05       2.226667e+05
92       Vila Olimpia       40    0       1.616112e+06                NaN
93      Vila Prudente       92    4       3.668663e+05       1.093976e+06
94         Vila Sônia       30    2       5.441477e+05       1.553000e+05
95          Água Rasa       74    0       6.349459e+05                NaN

[96 rows x 5 columns]